---
import Login from '@modules/Login';
import Main from '@modules/Main';
import { createRouteHandlerSupabaseClient } from '@supabase/auth-helpers-nextjs';
import type { Lang } from '@interfaces';
import Layout from '@/layouts/Layout.astro';
import 'katex/dist/katex.min.css';
import 'highlight.js/styles/atom-one-dark.css';

// read lang from env/process.env
const lang: Lang = import.meta.env.LANGUAGE || process.env.LANGUAGE || 'en';
const supabaseKey = import.meta.env.NEXT_PUBLIC_SUPABASE_ANON_KEY;
const supabaseUrl = import.meta.env.NEXT_PUBLIC_SUPABASE_URL;
const supabaseClient = createRouteHandlerSupabaseClient({
  supabaseKey,
  supabaseUrl,
  headers: () => Astro.request.headers,
  cookies: () => Astro.cookies,
});
const myself = await supabaseClient.auth.getUser();
---

<Layout title="ChatGPT">
  <div id="container">
    {!myself.data.user && <Login client:only="react" />}
    {myself.data.user && <Main client:only="react" lang={lang} />}
  </div>
</Layout>

<style>
  #container {
    max-width: 1200px;
    width: 80vw;
    height: 80vh;
  }
  /* mobile style */
  @media screen and (max-width: 768px) {
    #container {
      width: 100vw;
      height: 100%;
    }
  }
</style>
